{% load static %}

<header id="header" id="home">
  <div class="container">
    <div class="row align-items-center justify-content-between d-flex">
      <div id="logo">
        <a href="{% url "jobs" %}"><img src=" {% static "img/logo.png" %}" alt="" title="" /></a>
      </div>
      <nav id="nav-menu-container">
        <ul class="nav-menu">
          {% comment %} <li class="menu-active"><a href="index.html">Home</a></li> {% endcomment %}
          
          
          <li><a class="ticker-btn" href="#">Signup</a></li>
          <li><a class="ticker-btn" href="#">Login</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </div>
</header>
<!-- #header -->
